<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Administrador</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>

<header>
    <h1>🛠 Panel Administrador</h1>
</header>

<div class="menu-box">

    <h2>Opciones del sistema</h2>

    <a href="/productos">
        <button>📦 Gestionar productos</button>
    </a>

    <a href="/ventas">
        <button>💰 Gestionar ventas</button>
    </a>

    <a href="/proveedores">
        <button>🚚 Gestionar proveedores</button>
    </a>

    <a href="/ver_pedidos">
        <button>📋 Ver pedidos clientes</button>
    </a>

    <a href="/vencimientos">
        <button>⚠ Control de vencimientos</button>
    </a>

    <a href="/dashboard">
       <button>📊 Dashboard</button> 
    </a>

    <a href="/logout">
        <button>🚪 Cerrar sesión</button>
    </a>

    

</div>

</body>
</html>