<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<header>
    <h1>🛒 Panel Cliente</h1>
</header>

<div class="menu-box">

    <h2>Bienvenido Cliente</h2>
    <p>Realiza tus pedidos de medicamentos fácilmente</p>

    <div class="panel-botones">

        <a href="/catalogo" class="btn-panel">
            💊 Ver catálogo de productos
        </a>

        <a href="/pedido_cliente" class="btn-panel">
            🛒 Realizar pedido
        </a>

        <a href="/logout" class="btn-panel salir">
            🚪 Cerrar sesión
        </a>

    </div>

</div>

</body>
</html>