{% extends 'layout_cliente.html' %}

{% block titulo %}
Panel Cliente
{% endblock %}

{% block encabezado %}
🛒 Panel Cliente
{% endblock %}

{% block contenido %}

<div class="dashboard-container">

    <div class="dashboard-header">

        <h2>
            Bienvenido {{ session['usuario'] }}
        </h2>

        <p>
            Gestiona tus pedidos y consulta productos fácilmente
        </p>

    </div>

    <div class="dashboard-grid">

        <!-- CATÁLOGO -->

        <a href="/catalogo"
           class="dashboard-card stock">

            <div class="icono">
                💊
            </div>

            <div class="info">

                <h3>Catálogo</h3>

                <p>Ver</p>

            </div>

        </a>

        <!-- PEDIDO -->

        <a href="/pedido_cliente"
           class="dashboard-card entrada">

            <div class="icono">
                🛒
            </div>

            <div class="info">

                <h3>Nuevo Pedido</h3>

                <p>+</p>

            </div>

        </a>

        <!-- PEDIDOS -->
       <!--
        <a href="/mis_pedidos"
           class="dashboard-card movimientos">

            <div class="icono">
                📦
            </div>

            <div class="info">

                <h3>Mis Pedidos</h3>

                <p>Ver</p>

            </div>

        </a>
       -->
    </div>

</div>

{% endblock %}