{% extends 'layout_cliente.html' %}

{% block titulo %}
Panel Cliente
{% endblock %}

{% block encabezado %}
🛒 Panel Cliente
{% endblock %}

{% block contenido %}

<div class="menu-box">

    <h2>Bienvenido Cliente</h2>

    <p>
        Realiza tus pedidos de medicamentos fácilmente
    </p>

    <div class="panel-botones">

        <a href="/catalogo" class="btn-panel">
            💊 Ver catálogo de productos
        </a>

        <a href="/pedido_cliente" class="btn-panel">
            🛒 Realizar pedido
        </a>

    </div>

</div>

{% endblock %}