{% extends 'layout.html' %}

{% block titulo %}
Dashboard
{% endblock %}

{% block encabezado %}
📊 Dashboard SGV Farma
{% endblock %}

{% block contenido %}

<div class="cards">

    <div class="card">
        <h2>📦 Productos</h2>
        <p>{{ total_productos }}</p>
    </div>

    <div class="card">
        <h2>🔴 Agotados</h2>
        <p>{{ agotados }}</p>
    </div>

    <div class="card">
        <h2>👥 Clientes</h2>
        <p>{{ clientes }}</p>
    </div>

    <div class="card">
        <h2>💰 Ventas</h2>
        <p>{{ ventas }}</p>
    </div>

</div>

{% endblock %}