{% extends 'layout.html' %}

{% block titulo %}
Editar Producto
{% endblock %}

{% block encabezado %}
✏️ Editar Producto
{% endblock %}

{% block contenido %}

<div class="grafica-box">

    <h2>
        Actualizar información del producto
    </h2>

    <form action="{{ url_for('actualizar_producto',
    id_producto=producto.id_producto) }}"
    method="POST"
    class="inventario-form">

        <input type="text"
               name="nombre"
               value="{{ producto.nombre }}"
               placeholder="Nombre del producto"
               required>

        <textarea name="descripcion"
                  placeholder="Descripción">{{ producto.descripcion or '' }}</textarea>

        <input type="number"
               step="0.01"
               name="precio"
               value="{{ '{:.2f}'.format(producto.precio) }}"
               placeholder="Precio"
               required>

        <input type="number"
               name="stock"
               value="{{ producto.stock }}"
               placeholder="Stock"
               required>

        <button type="submit"
                class="btn-enviar">

            💾 Guardar Cambios

        </button>

    </form>

    <div class="volver-box">

        <a href="{{ url_for('productos') }}"
           class="btn-volver">

            ⬅ Volver a productos

        </a>

    </div>

</div>

{% endblock %}