<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar proveedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <header>
        <h1>✏️ Editar Proveedor</h1>
    </header>

    <form action="{{ url_for('actualizar_proveedor', id=proveedor.id_proveedor) }}" method="post">


        <input type="text" name="nombre" 
               value="{{ proveedor.nombre }}" required>

        <input type="text" name="telefono" 
               value="{{ proveedor.telefono or '' }}">

        <input type="email" name="correo" 
               value="{{ proveedor.correo or '' }}">

        <input type="text" name="direccion" 
               value="{{ proveedor.direccion or '' }}">

        <button type="submit">💾 Guardar cambios</button>
    </form>

    <div class="volver">
        <a href="{{ url_for('proveedores') }}">⬅️ Volver a proveedores</a>
    </div>
</body>
</html>

