<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>

        {% block titulo %}
        SGV FARMA
        {% endblock %}

    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>SGV FARMA</h2>

        <a href="{{ url_for('panel_cliente') }}">
            🏠 Inicio
        </a>

        <a href="/catalogo">
            💊 Catálogo
        </a>

        <a href="/pedido_cliente">
            🛒 Realizar Pedido
        </a>
        
        <a href="/mis_pedidos">
            📦 Mis Pedidos
        </a>
        

        

        <a href="/logout">
            🚪 Cerrar sesión
        </a>

    </div>

    <!-- CONTENIDO -->

    <div class="contenido">

        <div class="topbar">

            <div>

                <h1>
                    {% block encabezado %}
                    Panel Cliente
                    {% endblock %}
                </h1>

                <p class="subtitulo">
                    Bienvenido {{ session['usuario'] }}
                </p>

            </div>

            <div class="topbar-right">

                <div class="usuario">
                    👤 Cliente
                </div>

            </div>

        </div>

        {% block contenido %}
        {% endblock %}

    </div>

</body>
</html>