<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>

        {% block titulo %}
        SGV FARMA
        {% endblock %}

    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

<!-- SIDEBAR -->

<div class="sidebar">

    <h2>💊 SGV FARMA</h2>

    <a href="/dashboard">
        📊 Dashboard
    </a>

    <a href="/productos">
        💊 Productos
    </a>

    <a href="/ventas">
        💰 Ventas
    </a>

    <a href="/proveedores">
        🚚 Proveedores
    </a>

    <a href="/vencimientos">
        ⏰ Vencimientos
    </a>

    {% if session['rol'] == 'superadmin' %}

      <a href="/registrar">
         👥 Usuarios
      </a>

    {% endif %}

    <a href="/pedidos">
       📦 Pedidos
    </a>

    <a href="{{ url_for('inventario') }}">
        📦 Inventario
    </a>

    <a href="/logout">
        🚪 Cerrar sesión
    </a>


    

</div>

<!-- CONTENIDO -->

<div class="contenido">

    <header>

        <h1>

            {% block encabezado %}
            Panel principal
            {% endblock %}

        </h1>

    </header>

    {% block contenido %}

    {% endblock %}

</div>

</body>

</html>