{% extends 'layout.html' %}

{% block titulo %}
Gestión de Usuarios
{% endblock %}

{% block encabezado %}
👥 Gestión de Usuarios
{% endblock %}

{% block contenido %}

<!-- TARJETA RESUMEN -->

<div class="dashboard-grid">

    <div class="dashboard-card clientes">

        <div class="icono">
            👥
        </div>

        <div class="info">

            <h3>Total Usuarios</h3>

            <p>{{ usuarios|length }}</p>

        </div>

    </div>

</div>

<!-- FORMULARIO -->

<div class="grafica-box">

    <h2>
        ➕ Registrar Nuevo Usuario
    </h2>

    <form method="POST"
          class="inventario-form">

        <input type="text"
               name="usuario"
               placeholder="Nombre de usuario"
               required>

        <input type="password"
               name="contrasena"
               placeholder="Contraseña"
               required>

        <select name="rol" required>

            <option value="">
                Selecciona un rol
            </option>

            <option value="superadmin">
                👑 Super Administrador
            </option>

            <option value="admin">
                🛠 Administrador
            </option>

            <option value="cliente">
                👤 Cliente
            </option>

        </select>

        <button type="submit"
                class="btn-enviar">

            ➕ Registrar Usuario

        </button>

    </form>

</div>

<!-- TABLA USUARIOS -->

<div class="grafica-box">

    <h2>
        📋 Lista de Usuarios
    </h2>

    <table>

        <thead>

            <tr>

                <th>ID</th>

                <th>Usuario</th>
                
                <th>Contraseña</th>

                <th>Rol</th>

                

                <th>Estado</th>

            </tr>

        </thead>

        <tbody>

            {% for u in usuarios %}

            <tr>

                <td>

                    {{ u.id_usuario }}

                </td>

                <td>

                    {{ u.nombre_usuario }}

                </td>


                <td>

                    {{ u.contrasena }}

                </td>

                <td>

                    {% if u.rol == 'superadmin' %}

                        <span class="badge-superadmin">

                            👑 SuperAdmin

                        </span>

                    {% elif u.rol == 'admin' %}

                        <span class="badge-admin">

                            🛠 Admin

                        </span>

                    {% else %}

                        <span class="badge-cliente">

                            👤 Cliente

                        </span>

                    {% endif %}

                </td>

                <td>

                    <span class="estado verde">

                        Activo

                    </span>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}