{% extends 'layout.html' %}

{% block titulo %}
Vencimientos
{% endblock %}

{% block encabezado %}
⏳ Control de Vencimientos
{% endblock %}

{% block contenido %}

<section class="tabla-contenedor">

    <table>

        <thead>

            <tr>

                <th>Producto</th>
                <th>Lote</th>
                <th>Fecha vencimiento</th>
                <th>Estado</th>

            </tr>

        </thead>

        <tbody>

            {% for p in productos %}

            <tr>

                <td>{{ p.nombre }}</td>

                <td>{{ p.lote }}</td>

                <td>{{ p.fecha_vencimiento }}</td>

                <td>

                    {% if p.estado == 'verde' %}

                        <span class="estado verde">
                            🟢 Vigente
                        </span>

                    {% elif p.estado == 'amarillo' %}

                        <span class="estado amarillo">
                            🟡 Próximo a vencer
                        </span>

                    {% else %}

                        <span class="estado rojo">
                            🔴 Vencido
                        </span>

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</section>

{% endblock %}